@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.main-container {
  position: relative;
  overflow: hidden;
}


/* - HEADER COMPONENT - */
.main-bgheader {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.410);
  height: 100px;
  z-index: 3;

}

.main-bgheader h1 {
  font-weight: 700;
  display: flex;
  justify-content: center;
  top: 25%;
}

/* - PROFILE COMPONENT - */

.main-bgprofile {
  background-color: rgba(0, 0, 0, 0.151);
  height: 100%;
  position: absolute;
  z-index: 2;
  padding: 30px;
}

.profileInfo .userImage {
  position: relative;
  left: 50%;
  right: 50%;
  top: 70px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  z-index: 2;
}

.profileInfo .userFName{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  z-index: 2;
}

.profileInfo .userMail{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

.profilePermisions {
  margin-top: 40px;
  z-index: 2;
}


.profilePermisions h1 {
  font-size: 20px;
  position: relative;
  width: 100%;
  text-align: left;
  text-decoration: none;
  list-style: none;
  margin-bottom: 5px;  
  z-index: 2;
}

/* LIST COMPONENT */

.listBgMain {
  background-color: rgba(0, 0, 0, 0.103);
  height: 100vh;
  width: 100%;
  position: relative;
  margin-left: 252px;}

.listprofile {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  height:  110px;
}

.listprofileInfo {
  padding-left: 30px;
}

.listUserImage {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  display: flex;
  top: 5px;
  border: 1px solid black;
}

.listprofile .listUserFName {
  font-size: 20px;
  font-weight: 600;
}

.listprofile .listuserMail {
  font-size: 15px;
  font-weight: 400;
}

.Listinfouser {
padding-top: 25px;
margin-left: 120px;
}